<div>
    <p>Current Users</p>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Role</th>
                <th>Active</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.team}}</td>
                <td>{{user.role}}</td>
                <td>{{user.isActive}}</td>
                <td><button (click)="EditUser(user.id)">Edit User</button><button (click)="DisableUser(user.id)">Disable User</button></td>
            </tr>
            <tr *ngIf="addUser">
                <td><input type="text" [(ngModel)]="createUser.username"></td>
                <td><input type="text" [(ngModel)]="createUser.firstName"></td>
                <td><input type="text" [(ngModel)]="createUser.lastName"></td>
                <td>          
                    <select [(ngModel)]="createUser.team">
                        <option *ngFor="let team of teams" value="{{team.name}}">{{team.name}}</option>
                    </select>
                </td>
                <td>
                    <select [(ngModel)]="createUser.role">
                        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <button *ngIf="!addUser" (click)="AddNewUser()">Create a New User</button>

    <button *ngIf="addUser" (click)="CreateNewUser(createUser)">Submit</button>
    <button *ngIf="addUser" (click)="Cancel()">Cancel</button>
</div>