<div>
    <!-- <div>
        <h2>Calibration for: {{calibration.repName}}</h2>
        <h3>Channel: {{calibration.contactChannel}}</h3>
        <h3>Date: {{calibration.calibrationDate | date}}</h3>
        <h3>Contact Id: {{calibration.contactId}}</h3>
    </div>

    <table>
        <tr>
            <th>Question</th>
            <th>Group Score</th>
            <th *ngFor="let person of participants">{{person.firstName}}</th>
        </tr>
        <tr *ngFor="let question of questions; index as i">
            <td>{{question.question}}</td>
            <td *ngIf="calibration.isOpen">
                <select [(ngModel)]="groupSubmit[i].option">
                    <option value="Meets">Meets</option>
                    <option value="Does Not Meet">Does Not Meet</option>
                </select>
                <input [(ngModel)]="groupSubmit[i].comment" *ngIf="CheckForDeduction(i)" />
            </td>
            <td *ngIf="!calibration.isOpen">{{groupScore.details[i].option}}</td>
            <td *ngFor="let answer of answers">{{answer.details[i].option}}</td> 
        </tr>
    </table>

    <button type="submit" (click)="SubmitGroupAnswer()" *ngIf="calibration.isOpen">Submit Group Answers</button> -->
</div>