<div class="container">
  <header>
    <h1>Fernando's calibration app</h1>
    <nav id="top-nav">
      <ul>
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="authService.isAuthenticated()">Welcome {{authService.currentUser.user.firstName}}!</li>
        <li *ngIf="authService.isAuthenticated()"><button (click)="logout()">Logout</button></li>
      </ul>
    </nav>
  </header>
  <nav id="left-nav">
    <ul>
      <li *ngIf="authService.isAuthenticated()"><a [routerLink]="['/view']">View Calibrations</a></li>
      <li *ngIf="authService.isAuthenticated()">View Your Calibration Stats</li>
      <li *ngIf="leaderCheck()"><a [routerLink]="['/create']">Create a New Calibration</a></li>
      <li *ngIf="leaderCheck()">Submit a Group Score</li>
      <li *ngIf="adminCheck()">Edit Users</li>
      <li *ngIf="adminCheck()">View All Stats</li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>