<div class="container">
  <header>
    <h1>Fernando's calibration app</h1>
    <nav id="top-nav">
      <ul>
        <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="authService.isAuthenticated()">Welcome {{authService.currentUser.user.firstName}}!</li>
        <li *ngIf="authService.isAuthenticated()"><button (click)="logout()">Logout</button></li>
      </ul>
    </nav>
  </header>
  <nav id="left-nav">
    <table>
      <tr *ngIf="authService.isAuthenticated()"><td><a [routerLink]="['/view']">View Calibrations</a></td></tr>
      <tr *ngIf="authService.isAuthenticated()"><td><a [routerLink]="['/stats']">View Your Calibration Stats</a></td></tr>
      <tr *ngIf="authService.AdminCheck()"><td><a [routerLink]="['/createCalibration']">Create a New Calibration</a></td></tr>
      <tr *ngIf="authService.AdminCheck()"><td><a [routerLink]="['/form']">Create and Edit Forms</a></td></tr>
      <tr *ngIf="authService.AdminCheck()"><td><a [routerLink]="['/editUsers']">Edit Users</a></td></tr>
    </table>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>