* {
    box-sizing: border-box;
}

.container {
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    
    grid-template-areas:
        "navBar navBar"
        "menu main";

    grid-template-columns:
        1fr 5fr;
}

header {
    grid-area: navBar;
    border: solid black 1px;

    display: grid;
    grid-template-areas:
        "title login";
}

h1 {
    grid-area: title;
}

nav#left-nav {
    display: flex;
    grid-area: menu;
    border: solid black 1px;
}

table {
    align-self: flex-start;
    border: solid black 1px;
}

td {
    text-align: center;
    padding: 5px 10px;
}

main {
    grid-area: main;
    border: solid black 1px;
}

nav#top-nav ul {
    grid-area: login;
    padding-left: 10;
    text-align-last: right;
}

nav#top-nav li {
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    padding: 0px 10px;
}