<div>
    <h2>All Calibrations</h2>
    <table>
        <tr>
            <th>Calibration Id</th>
            <th>Calibration Date</th>
            <th>Team Member Name</th>
            <th>Channel</th>
            <th>Group Score</th>
            <th>Group Score</th>
            <th>Your Score</th>
            <th>Your Submission</th>
        </tr>
        <tr *ngFor="let calibration of calibrations">
            <td>{{calibration.id}}</td>
            <td>{{calibration.calibrationDate | date}}</td>
            <td>{{calibration.repFirstName}} {{calibration.repLastName}}</td>
            <td>{{calibration.contactChannel}}</td>
            <td *ngIf="!calibration.isActive">{{calibration.groupScoreEarned}}/{{calibration.groupScorePossible}} ({{ConvertToPercent(calibration.groupScoreEarned,calibration.groupScorePossible) | number:'1.0-0'}}%)</td>
            <td *ngIf="!calibration.isActive"><button (click)="PushToGroup(calibration.id)">Click to view</button></td>
            <td *ngIf="calibration.isActive" colspan="2">Awaiting Group Results</td>
            <td>{{calibration.indivPointsEarned}}/{{calibration.indivPointsPossible}} ({{ConvertToPercent(calibration.indivPointsEarned,calibration.indivPointsPossible) | number:'1.0-0'}}%)</td>
            <td><button (click)="PushToOne(calibration.id)">Click to {{calibration.isActive===true ? 'Edit' : 'View'}}</button></td>
        </tr>
    </table>
</div>