<div>
    <h2>Calibration for: {{calibration.repFirstName}} {{calibration.repLastName}}</h2>
    <h3>Channel: {{calibration.contactChannel}}</h3>
    <h3>Date: {{calibration.calibrationDate | date}}</h3>
    <h3>Contact Id: {{calibration.contactId}}</h3>
    <h4>Current status: {{calibration.isActive ? "Open" : "Closed"}}</h4>
    <h5>Current Score: 2%</h5>

    <table>
        <tr>
            <th>Question</th>
            <th>Your Score</th>
        </tr>
        <tr *ngFor="let question of questions; index as i">
            <td>{{question.questionText}}</td>
            <td *ngIf="calibration.isActive">
                <select [(ngModel)]="answerSubmit[i].optionValue">
                    <option *ngFor="let option of question.options" value="{{option.optionValue}}">{{option.optionValue}}</option>
                </select>
                <br>
                <input [(ngModel)]="answerSubmit[i].comment" placeholder="Why this score was entered"/>
            </td>
            <td *ngIf="!calibration.isActive">{{answers.details[i].option}}</td>
        </tr>
    </table>

    <button type="submit" (click)="SubmitAnswer()" *ngIf="calibration.isActive">Submit Your Answers</button>
</div>