<div>
    <h2>Calibration for: {{calibration.repFirstName}} {{calibration.repLastName}}</h2>
    <h3>Channel: {{GetContactChannel()}}</h3>
    <h3>Date: {{calibration.calibrationDate | date}}</h3>
    <h3>Contact Id: {{calibration.contactId}}</h3>
    <h4>Current status: {{calibration.isOpen ? "Open" : "Closed"}}</h4>
    <h5>Current Score: {{Earned()}} / {{Possible()}} ({{CalculateScore()}}%)</h5>

    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Your Score</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of questions; index as i">
                <td>{{question.questionText}}</td>
                <td *ngIf="calibration.isOpen">
                    <select [(ngModel)]="answerSubmit[i].optionValue" (change)="onChange($event,i)">
                        <option *ngFor="let option of question.options" value="{{option.optionValue}}">{{option.optionValue}}</option>
                    </select>
                </td>
                <td *ngIf="calibration.isOpen">
                    <input [(ngModel)]="answerSubmit[i].comment" placeholder="Why this score was entered"/>
                </td>
                <td *ngIf="!calibration.isOpen">{{answerSubmit[i].optionValue}}</td>
                <td *ngIf="!calibration.isOpen">{{answerSubmit[i].comment}}</td>
            </tr>
        </tbody>
    </table>
    
    <div *ngIf="calibration.isOpen">
        <button type="submit" (click)="SubmitAnswer()">Submit Your Answers</button>
        <button (click)="Cancel()">Cancel</button>
    </div>
</div>