<div>
    <p>Select a form you would like to edit</p>
    <p>
        <select [(ngModel)]="form.formId" (change)="UpdateQuestionsTable()">
            <option *ngFor="let form of forms" value="{{form.formId}}">{{form.formName}}</option>
        </select>
    </p>
    <p>
        <button (click)="NewFormInput()">Create New Form</button>
        <button *ngIf="ActiveForm()" (click)="SwitchIsArchived()">{{form.isArchived ? "En" : "Dis"}}able This Form</button>
    </p>

    <table *ngIf="ShowQuestionsTable()">
        <tr *ngIf="!editFormName">
            <th colspan="3">{{form.formName}}</th>
            <th><button (click)="EditFormName()">Edit Form Name</button></th>
        </tr>
        <tr *ngIf="editFormName">
            <th colspan="3"><input [(ngModel)]="form.formName" type="text" placeholder="Form Name" /></th>
            <th><button (click)="SaveFormName()">Save Form Name</button></th>
        </tr>
        <tr>
            <td><img src="../../assets/arrowblank.png"></td>
            <td class="first">Question</td>
            <td class="second">Maximum Points</td>
            <td class="third">Total Points: {{TotalPoints()}}</td>
        </tr>
        <tr *ngFor="let question of questions">
            <td><img src="../../assets/arrowup.png" *ngIf="!minPosition(question)" (click)="MoveUp(question)"><img src="../../assets/arrowblank.png" *ngIf="minPosition(question) || maxPosition(question)"><img src="../../assets/arrowdown.png" *ngIf="!maxPosition(question)" (click)="MoveDown(question)"></td>
            <td>{{question.questionText}}</td>
            <td class="second">{{question.isCategory ? question.pointsPossible : "--"}}</td>
            <td class="third"><button>Edit</button><button>Delete</button></td>
        </tr>
        <tr *ngIf="newQuestion">
            <td>&nbsp;</td>
            <td><input type="text" [(ngModel)]="createQuestion.questionText"></td>
            <td><input type="number" min="0" [(ngModel)]="createQuestion.pointsPossible"></td>
            <td><button type="submit" (click)="Submit()" [disabled]="CannotSubmitQuestion()">Submit</button><button (click)="Cancel()">Cancel</button></td>
        </tr>
        <tr *ngIf="!newQuestion">
            <td colspan="2"><button (click)="AddNewQuestion()">Add New Question</button></td>
            <td colspan="2" class="save"><button (click)="SaveAndUpdateQuestions()">Save All Questions</button></td>
        </tr>
    </table>
</div>