img {
    width: 20px;
    margin: 5px;
}

.bottom {
    border: none;
}

table, td, tr, th {
    border: solid black 1px;
}

.save {
    text-align: right;
}

.first {
    width: 70%;
}

.isCategory {
    font-weight: bold;
}

#text {
    width: 80%;
}

.second {
    text-align: center;
    width: 10%;
}

.third {
    width: 20%;
    text-align: center;
}

.second > button,
.third > button
{
    width: 100%;
}

table {
  width: 100%;  
}

th {
    text-align: center;
}